<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>FitData</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/bootstrap/assets/data.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/bootstrap/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-blue bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="/"> FitData</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/help">도움말</a></li>
                <li class="nav-item"><a class="nav-link" href="/price">가격</a></li>
                <li class="nav-item"><a class="nav-link" href="/posts/board">게시판</a></li>
                <li class="nav-item"><a class="nav-link" href="/social/sns" >로그인</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-3">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">데이터 크롤링 서비스</h1>
                    <p class="lead text-white-50 mb-4">웹페이지의 데이터를 수집해드립니다.</p>
                </div>
            </div>
        </div>
    </div>
</header>